<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инструкция</title>
</head>
<body>
    <h3>Через Postman</h3>

    <p>Первый запрос 'new': true, все последующие 'new': false</p>
    <p>Тест для Алисы в 'original_utterance': 'Привет, Алиса!'</p>

    <p>Запросы отправлять  >>>  https://abombalemba.pythonanywhere.com/post</p>

    <code>
    {
  "meta": {
    "locale": "ru-RU",
    "timezone": "UTC",
    "client_id": "ru.yandex.searchplugin/7.16 (none none; android 4.4.2)",
    "interfaces": {
      "screen": {},
      "payments": {},
      "account_linking": {}
    }
  },
  "session": {
    "message_id": 0,
    "session_id": "3a9b2e4b-6dec-42dc-959b-09a6f927af2a",
    "skill_id": "b1277834-1254-46c1-a6a6-5fb2f7d405fe",
    "user": {
      "user_id": "4A158965436C583D9CA918A55CD3BE8ED04392FF3CD59E74C754FC66A9A7A747"
    },
    "application": {
      "application_id": "1938B4AE016C51A9501A910C2C60761DF6361518037581536FD849A2687E806B"
    },
    "user_id": "1938B4AE016C51A9501A910C2C60761DF6361518037581536FD849A2687E806B",
    "new": true
  },
  "request": {
    "command": "",
    "original_utterance": "Это текст, который мы говорим Алисе",
    "nlu": {
      "tokens": [],
      "entities": [],
      "intents": {}
    },
    "markup": {
      "dangerous_context": false
    },
    "type": "SimpleUtterance"
  },
  "version": "1.0"
}
    </code>
</body>
</html>
